html {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

a {
  text-decoration: none;
}