@use "../global/vars";

.main {
  height: 100vh;
  background-image: url('../../images/main_image_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 32px;
  background-position: 60% 50%;
}

.main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.main__top-logo {
  margin-top: 16px;
}

.main__top-logo a {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.95px;
  color: vars.$white;
}

.main__top-input {
  width: 584px;
  height: 48px;
  background: hsl(0, 0%, 97%, 0.24);
  mix-blend-mode: normal;
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 97%, 0.24);
  outline: 1px solid vars.$white;
  caret-color: vars.$white;
  padding: 0 48px 0 16px;
}

.main__top-input:active {
  border: 1px solid vars.$white;
  outline: 1px solid vars.$white;
}

.main__top-input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  color: vars.$white;
  opacity: 1;
}

.main__top-searchButton {
  height: 48px;
  width: 48px;
  border: 1px solid transparent;
  background-color: transparent;
  margin-left: -48px;
}

.main__top-searchIcon {
  position: relative;
  top: 10%;
  left: 0;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
}

.main__top-searchIcon:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}

.main__top-authorization {
  display: flex;
  align-items: center;
}

.main__top-button {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  color: vars.$white;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 3px;
}

.main__top-numberOfGoods {
  width: 22px;
  height: 22px;
  background-color: #f2da91;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: vars.$black;
  margin-left: 9px;
}

.main__top-hide {
  display: none;
}

.main__top-separator {
  color: vars.$white;
  margin: 0 5px;
}

.main__top-basket {
  margin: -5px 0 0 17px;
}

.main__top-button:hover {
  border: 1px solid vars.$white;
}

.main__top-button:active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid transparent;
}

.main__top-basket {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
  border-radius: 3px;
  border: 1px solid transparent;
}

.main__top-basket:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}

.main__top-basket:active {
  border: 1px solid vars.$white;
  transform: scale(1.3);
  transition: transform 0.5s;
}

.main__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.main__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.main__nav-item {
  margin-right: 32px;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.main__nav-item:hover {
  border: 1px solid vars.$white;
}

.main__nav-item:active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid transparent;
}

.main__nav-item > a {
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: vars.$white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: vars.$white;
  text-align: center;
}

.menu,
.menu__woman,
.menu__clothing,
.burger,
.menuGrey {
  display: none;
}
